@layout('layouts.master')

@section('content')
Selamat datang di <b>My App</b>


{{--  <img src="{{ route('foto',[1]) }}" alt="sad">  --}}
<img src="{{ route('foto', { id: 0 }) }}" alt="sad">
@endsection
